*{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
}

.menu{
    background-color:black;
    padding: 8px;
    /*width: 100px;*/
    height: 100vh;
}
.menu a{
    color:white;
    text-decoration: none;
    display: inline-block;
    width: 95%;
    padding: 4px 2px;
}

.menu a:hover{
    color: black;
    background-color: white;
    border-radius: 4px
}

.conteudo{
    background-color: rgba(7, 41, 151, 0.836);
    color:white;
    padding: 8px;
    flex-grow: 1;
}

.menu-icon{
    display: flex;
    flex-direction: row-reverse;
}

